@font-face {
    font-family: Coolvetica;
    src: url(./assets/coolveticarg.otf);
}
body {
    display: flex;
    color: #d2a04e;
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
    font-family: Coolvetica;
    letter-spacing: 1px;
    font-size: 40px;   
    display: flex;
    gap: 35px;
}
li {
    border-bottom: 3px solid #d2a04e;
    height: 45px;
}
.header-container {
    height: 700px;
    background-color: #18130e;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.image-content{
    border: 3px solid #d2a04e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: flex-start;
    margin: auto;
    gap: 50px;
    font-size: 23px;
    font-family: Coolvetica;
    align-items: center;
    height: 400px;
}
h1{
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}
h3{
    margin: 3px;
    padding: 7px;
    margin-top: 20px;
    border: 3px dotted #d2a04e;
    font-size: 35px;
    display: inline-block;
    letter-spacing: 4px;
}
p {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
}
.borderdiv{
    padding: 10px;
    border: 3px solid #d2a04e;
    width: 80%;
    margin: auto;
}
.headerhalves{
   
}

