@font-face {
    font-family: Coolvetica;
    src: url(./assets/coolveticarg.otf);
}
@font-face {
    font-family: SecularOne;
    src: url(./assets/secularone.ttf);
}
body {
    color: #d2a04e;
    padding: 0;
    margin: 0;
}
.firstcontainer{
    height: 700px;
    background-color: #18130e;
    padding-top: 50px;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 70px;
}
.content {
    display: flex;
    border: 3px solid #d2a04e;
    padding: 15px;
    gap: 15px;
}
.h3flex {
    display: flex;
    gap: 10px;   
}
.doubleborderdiv{
    padding: 5px;
    border: 3px solid #d2a04e;
    width: 80%;
    margin: auto;
}
ul {
    list-style-type: none;
    font-family: Coolvetica;
    letter-spacing: 1px;
    font-size: 40px;   
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0;
    margin: 0;
}
li{
    border-bottom: 3px solid #d2a04e;
}
h1 {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-family: SecularOne;
}
h3 {
    margin: 3px;
    padding: 7px;
    margin-top: 20px;
    border: 3px dotted #d2a04e;
    font-size: 35px;
    display: inline-block;
    letter-spacing: 4px;
}
p {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-family: "Helvetica", sans-serif;
    font-weight: 700;
}
